<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button routerLink="/insurance-form" class="dashboard-button">Go to Insurance Form</ion-button>
  <ion-button routerLink="/profile-form" class="dashboard-button">Go to Profile Form</ion-button>
  <ion-button routerLink="/loader" class="dashboard-button">Go to Loader</ion-button>
    </ion-toolbar>
  </ion-header>
</ion-content>
