.selected-tab {
  border-top: 2px solid purple; /* Add a purple line at the top */
}
.header-row {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

ion-col {
  text-align: center;
  padding: 10px;
}
